= form_for @expense,remote: true, :url => { :controller => 'expense', :action => 'create' } do |f|
  - if @expense.errors.any?
    %h2= "#{pluralize(@loan.errors.count, 'error')}"
    %ul
      - @loan.errors.full_messages.each do |msg|
        %li= msg
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .form-group
      = f.label :expense_date
      %br
      = f.date_select(:expense_date, {}, :class => 'form-control')
    .form-group
      = f.label :needed
      %br
      = f.check_box :needed
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .form-group
      = f.label :how_much
      %br
      = f.text_field( :how_much, {:placeholder => 'Suma', :class => 'form-control'})
    .form-group
      = f.label :for_what
      %br
      = f.text_field( :for_what, {:placeholder => 'Na co wdałeś te pieniądze', :class => 'form-control'} )
  .actions
    = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'

