%section{:id => 'main' }
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .page-header
          %h1 Długi <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addDebt' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addDebt',:role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = render :partial => 'loans/debt_form', :locals => {:loan => @loan}
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Od kogo
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
            %tbody
              - current_user.debts.each do |debt|
                = render :partial => 'loans/debtor_table', :locals => { :debt => debt }

        .page-header
          %h1 Pożyczki <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addLoan' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addLoan', :role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = form_for @loan, :url => { :controller => 'loans', :action => 'create' } do |f|
                  - if @loan.errors.any?
                    %h2= "#{pluralize(@loan.errors.count, 'error')}"
                    %ul
                      - @loan.errors.full_messages.each do |msg|
                        %li= msg
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :debtor_id
                      %br
                      = f.select(:debtor_id, options_from_collection_for_select(User.all, :id, :username) )
                    .form-group
                      = f.label :loan_date
                      %br
                      = f.date_select :loan_date, :class => 'form-control'
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :expire_date
                      %br
                      = f.date_select :expire_date, { :class => 'form-control' }
                    .form-group
                      = f.label :sum
                      %br
                      = f.text_field :sum, :placeholder => 'Suma'
                    = f.hidden_field :creditor_id, :value => current_user.id
                    = f.hidden_field :returned, :value => false
                    = f.hidden_field :accepted, :value => true
                  .actions
                    = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Komu
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
              %th
            %tbody
              - current_user.credits.each do |credit|
                = render :partial => 'loans/credit_table', :locals => { :credit => credit }
        .page-header
          %h1 Wydatki <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addExpense' id='smth1' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addExpense', :role => 'tabpanel', "aria-labelledby" => 'smth1' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = form_for @expense, :url => { :controller => 'expense', :action => 'create' } do |f|
                  - if @expense.errors.any?
                    %h2= "#{pluralize(@expense.errors.count, 'error')}"
                    %ul
                      - @expense.errors.full_messages.each do |msg|
                        %li= msg
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :expense_date
                      %br
                      = f.date_select :expense_date, :class => 'form-control'
                    .form-group
                      = f.label :needed
                      %br
                      = f.check_box :needed
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :how_much
                      %br
                      = f.text_field :how_much, :placeholder => 'Suma'
                    .form-group
                      = f.label :for_what
                      %br
                      = f.text_field :for_what, :placeholder => 'Na co wdałeś te pieniądze'
                    = f.hidden_field :user_id, :value => current_user.id
                  .actions
                    = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Kiedy
              %th Ile
              %th Na co
              %th Czy potrzebne
              %th
            %tbody
              - current_user.expenses.each do |expense|
                = render :partial => 'expense/table', :locals => { :expense => expense }
