%section{:id => 'main' }
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .page-header
          %h1 Długi <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addDebt' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addDebt',:role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = form_for @loan, :url => { :controller => 'loans', :action => 'create' } do |f|
                  - if @loan.errors.any?
                    %h2= "#{pluralize(@loan.errors.count, 'error')}"
                    %ul
                      - @loan.errors.full_messages.each do |msg|
                        %li= msg
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :creditor_id
                      %br
                      = f.select(:creditor_id, options_from_collection_for_select(User.all, :id, :username) )
                    .form-group
                      = f.label :loan_date
                      %br
                      = f.date_select :loan_date, :class => 'form-control'
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :expire_date
                      %br
                      = f.date_select :expire_date, { :class => 'form-control' }
                    .form-group
                      = f.label :sum
                      %br
                      = f.text_field :sum, :placeholder => 'Suma'
                    = f.hidden_field :debtor_id, :value => current_user.id
                    = f.hidden_field :returned, :value => false
                    = f.hidden_field :accepted, :value => false
                  .actions
                    = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Komu
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
            %tbody
              - current_user.debts.each do |debt|
                %tr
                  %td= debt.creditor.username
                  %td= debt.sum
                  %td= debt.loan_date
                  %td= debt.expire_date
                  %td
                    - if debt.accepted
                      %i{:class => 'glyphicon link glyphicon-ok'}
                    - else
                      %i{:class => 'glyphicon glyphicon-remove link-magneta'}
                  %td
                    - if debt.returned
                      %i{:class => 'glyphicon link glyphicon-ok'}
                    -else
                      %i{:class => 'glyphicon glyphicon-remove link-magneta' }
        .page-header
          %h1 Pożyczki <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addLoan' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addLoan', :role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = form_for @loan, :url => { :controller => 'loans', :action => 'create' } do |f|
                  - if @loan.errors.any?
                    %h2= "#{pluralize(@loan.errors.count, 'error')}"
                    %ul
                      - @loan.errors.full_messages.each do |msg|
                        %li= msg
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :debtor_id
                      %br
                      = f.select(:debtor_id, options_from_collection_for_select(User.all, :id, :username) )
                    .form-group
                      = f.label :loan_date
                      %br
                      = f.date_select :loan_date, :class => 'form-control'
                  .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .form-group
                      = f.label :expire_date
                      %br
                      = f.date_select :expire_date, { :class => 'form-control' }
                    .form-group
                      = f.label :sum
                      %br
                      = f.text_field :sum, :placeholder => 'Suma'
                    = f.hidden_field :creditor_id, :value => current_user.id
                    = f.hidden_field :returned, :value => false
                    = f.hidden_field :accepted, :value => true
                  .actions
                    = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Kto
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
            %tbody
              - current_user.credits.each do |credit|
                %tr
                  %td= credit.debter.username
                  %td= credit.sum
                  %td= credit.loan_date
                  %td= credit.expire_date
                  %td
                    - if credit.accepted
                      %i{:class => 'glyphicon link glyphicon-ok'}
                    - else
                      %i{:class => 'glyphicon glyphicon-remove link-magneta'}
                  %td
                    - if credit.returned
                      %i{:class => 'glyphicon link glyphicon-ok'}
                    -else
                      %i{:class => 'glyphicon glyphicon-remove link-magneta' }
        .page-header
          %h1 Wydatki <i class='link-magneta glyphicon glyphicon-plus pull-right'></i>
