%section{:id => 'main' }
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .page-header
          %h1 Długi <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addDebt' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addDebt',:role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = render :partial => 'loans/debt_form'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Od kogo
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
            %tbody
              - current_user.debts.each do |debt|
                = render :partial => 'loans/debtor_table', :locals => { :debt => debt }

        .page-header
          %h1 Pożyczki <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addLoan' id='smth' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addLoan', :role => 'tabpanel', "aria-labelledby" => 'smth' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = render :partial => 'loans/credit_form'
        .table-responsive
          %table{:class => 'table table-hover' }
            %thead
              %th Komu
              %th Ile
              %th Kiedy
              %th Do kiedy
              %th Zaakceptowane
              %th Zwrócone
              %th
            %tbody
              - current_user.credits.each do |credit|
                = render :partial => 'loans/credit_table', :locals => { :credit => credit }
        .page-header
          %h1 Wydatki <i class='link-magneta glyphicon glyphicon-plus pull-right' data-toggle='collapse' href='#addExpense' id='smth1' aria-expanded='true' aria-controls='addDebt'></i>
          .panel-collapse.collapse{:id => 'addExpense', :role => 'tabpanel', "aria-labelledby" => 'smth1' }
            .panel-body
              .col-lg-6.col-md-6.col-sm-9.col-xs-12
                = render :partial => 'expense/expense_form'
        .table-responsive
          %table{:id => 'ExpenseTable',:class => 'table table-hover' }
            %thead
              %th Kiedy
              %th Ile
              %th Na co
              %th Czy potrzebne
              %th
            %tbody
              - current_user.expenses.each do |expense|
                = render :partial => 'expense/table', :locals => { :expense => expense }
