= form_for @loan,remote: true, :url => { :controller => 'loans', :action => 'create_whom' } do |f|
  .errors_debts
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .form-group
      = f.label :creditor_id
      %br
      = f.select(:creditor_id, options_from_collection_for_select(User.all, :id, :username),{}, {:class => "form-control"} )
    .form-group
      = f.label :loan_date
      %br
      = f.date_select(:loan_date, {}, {:class => "form-control"})
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    .form-group
      = f.label :expire_date
      %br
      = f.date_select(:expire_date, {}, { :class => 'form-control' })
    .form-group
      = f.label :sum
      %br
      = f.text_field( :sum, {:placeholder => 'Suma', :class => 'form-control'}) 
    .actions
      = f.submit 'Dodaj', :class => 'pull-right btn btn-wallet'

