<!DOCTYPE html>
<html>
<head>
  <title>MyWallet - pamiętaj gdzie zgubiłeś swoje pieniądze!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
  <nav style='margin-bottom:0px;' class='navbar navbar-default navbar-static-top'>
    <div class='container'>
      <p class='navbar-brand'>
      <span class='text-magneta glyphicon glyphicon-fire '> </span>
      <%= link_to 'My wallet', root_path, :class =>'text-magneta' %>
      </p>
      <div class='navbar-right'>
        <% if current_user -%>
          <%= link_to 'Log out', destroy_user_session_path, :method => :delete, :class => 'btn btn-wallet navbar-btn', :style => 'margin-right: 5px' %>
          <div class='dropdown pull-right'>
            <button class='btn btn-wallet navbar-btn dropdown-toggle' id='dropdownMenu' data-toggle='dropdown' aria-expanded='true'>
              <%= current_user.username %> <i class='glyphicon glyphicon-chevron-down'> </i>
            </button>
            <ul class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu'>
              <li role='presentation'><%= link_to 'Edit', edit_registration_path(current_user) %>  </li>
            </ul>
          </div>
        <% else %>
          <%= link_to 'Sign up', new_registration_path(resource_name), :class => 'btn navbar-btn btn-wallet' %>
        <% end %>
      </div>
    </div>
  </nav>

<%= yield %>
<footer class='text-center'>
  <div class='footer-above'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-5'>
          <h3> Owner </h3>
          <p> Mirosława Szewczyk <br /> Nr indeksu: 241752 </p>
        </div>
        <div class='col-md-5'>
          <h1>
            <a href='mailto:szewczyk.mira@gmail.com' class='link'><i class='glyphicon glyphicon-envelope'></i> </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class='footer-below'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          Copyright &copy; Miroslawa Szewczyk 2015
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
