<header class='session'>
  <div class='container'>
    <div class='row'>
      <div class='large text-center col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <i class='glyphicon glyphicon-fire'> </i>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => 'wallet-form' %>
          </div>

          <div class='form-group'>
            <%= f.label :username %>
            <br />
            <%= f.text_field :username, :class => 'wallet-form' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => 'wallet-form' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'wallet-form' %>
          </div>
          <div class='actions'>
            <%= f.submit "Sign", :class => 'btn btn-wallet-inverted btn-lg pull-right' %>
            <%= link_to 'Log in', new_session_path(resource_name), :class => 'link-inverted' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
